{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Us Page</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfxpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

</head>
<body  id='bg' style="background-image:url('{% static 'img/abt9.png' %}'); " >

     <section class="contact">
          <div class="content">
              <h2>Contact Us</h2>
              <p>Please feel free to contact us any time!</p>
          </div>
          <div class="container">
             <div class="contactInfo">
                    <div class="box">
                    <div class="icon"></div>
                    <div class="text">
                            <h3>Address</h3>
                            <p>4671 Sugar Camp Road,<br>Owatonna,Minnesota,<br>55060</p>

                    </div>
             </div>
             <div class="box">
                    <div class="icon"></div>
                    <div class="text"> 
                            <h3>Phone</h3>
                            <p>507-475-6094</p>
                            
                    </div>
             </div>
             <div class="box">
                    <div class="icon"></div>
                    <div class="text">
                            <h3>Email</h3>
                            <p>browniepoints@gmail.com</p>
                            
                    </div>
             </div>
             <!--Contact form-->
             <div class="col-12 col-md-8">
               <div class="contact-form">
                    {%if message_name %}  
                         <center>
                         <h2>Thanks {{ message_name }}!</h2>
                         <p>We received your email and will respond shortly..</p>
                         </center>
                    {% else %}
                  <!--section heading-->
                  <div class="section-heading">


                  <h2>Get in touch!</h2>
                  <div class="line"></div>
                  </div>   
             <!---Form---->
             <div class="contactForm" id="form_input">
                              <form action="{% url 'contact' %}" method="post" >
                              {% csrf_token %}
                              <div class="row">
                              <div class="col-lg-6" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                              </div>

                              <div class="col-lg-6" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email">
                              </div>

                              <div class="col12" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <textarea name="message"  class="form-control mb-30" placeholder="Your message"></textarea>
                              </div>
                              
                              <div class="col-12" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <button type="submit"  class="btn dento-btn">Send message</button>
                              </div>
                              </div>  

                              

                              </form>
               </div>
             </div>  
             </div>
          </div>    


     </section>
     {% endif %}

          
    </body>
</html>
</body>
</html>


<!--python -m smtpd -n -c DebuggingServer localhost:1025-->