<html>

<head>
    <title>
        Pamphlet
    </title>
    <script src="https://kit.fontawesome.com/859032bd06.js" crossorigin="anonymous"></script>
    <style>
        .image1 {
            padding-left: 30%;
            width: 40%;
            height: 100%;

        }

        img {
            width: 100%;
            height: 100%;
        }
        body
        {
            background-color: antiquewhite;
        }
    </style>
</head>

<body style="padding: 0px; margin: 0px;">
    <div class="image1">
        <img src="img1.jpg" alt="">
    </div>
    <div class="icons">
        <i class="fas fa-file-word"></i>
        <i class="fas fa-file-photoshop"></i>
        <i class="fas fa-file-ide"></i>
        <i class="fas fa-file-powerpoint"></i>
        <i class="fas fa-file-apple-notes"></i>
    </div>

</body>

</html>