{% load static %}
{% block sidebar %}

<style>
        .card{
            background-color: #f9f2eb;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header font-weight-bold">About Us</h5>
    <div class="card-body"  stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <p class="card-text"> This awesome blog is made to cater the people worldwide , with delicious recipes to try at home !! Click below to know more</p>
        <a class="btn btn-outline-info" href="{% url 'about_us' %}" role="button">Know More</a>
       
    </div>
</div>
</div> 




{% endblock sidebar %}